html,body{
  margin: 4%;
  background: whitesmoke;
}

.box{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.board{
  display: flex;
  flex-direction: column;
}

.row{
  justify-items: center;  
  justify-content: center;
  display: flex;
}

.text{
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 1%;
  font-weight: lighter;
}